<!-- _part/menu/sideMenu -->

<div class="nav-tree" data-jam="NavTree">

    <div class="nav-item">
        <a href="studio" class="nav-link">
            <span data-t="">Studio</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="office" class="nav-link">
            <span data-t="">Office</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="admin" class="nav-link">
            <span data-t="">Administration</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="account" class="nav-link">
            <span data-t="">Account</span>
        </a>
    </div>

    <div class="nav-divider"></div>

    <div class="nav-item">
        <a href="front" class="nav-link">
            <span data-t="">Front</span>
        </a>
    </div>
</div>