<!-- _part/menu/sideMenu -->

<ul class="sidebar-menu tree-menu" data-widget="tree" data-jam="TreeMenu">

    <li class="menu-item">
        <a href="studio" class="menu-item-btn">
            <span data-t="">Studio</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="office" class="menu-item-btn">
            <span data-t="">Office</span>
        </a>
    </li>

    <li class="menu-item">
        <a href="admin" class="menu-item-btn">
            <span data-t="">Admin</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="account" class="menu-item-btn">
            <span data-t="">Account</span>
        </a>
    </li>

    <li class="separator"></li>

    <li class="menu-item">
        <a href="front" class="menu-item-btn">
            <span data-t="">Front</span>
        </a>
    </li>

</ul>