<%
if (provider.models.length) {
    itemTemplate = _view.get(itemTemplate)
        for (const model of provider.models) {
%>
<div class="list-item clearfix">
    <%- include(itemTemplate, {model}) %>
</div>
<% } if (provider.pagination) { %>
<%- include(_view.get('_part/pagination'), {pager: provider.pagination}) %>
<% }} else { %>
<div class="alert alert-warning">
    <p data-t="">No articles found</p>
</div>
<% } %>