<% layout(_view.get('_layout/content')) %>

<h2 class="intro-header">
    <span class="text-red icon fa fa-sun"></span>
    Imagine your app then...
</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="text-success box-title">Studio module</h3>
            </div>
            <div class="box-footer text-center">
                <a href="studio" class="btn-success btn">Create it</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="text-primary box-title">Office module</h3>
            </div>
            <div class="box-footer text-center">
                <a href="office" class="btn-primary btn">Operate it</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="text-info box-title">Admin module</h3>
            </div>
            <div class="box-footer text-center">
                <a href="admin" class="btn-info btn">Manage it</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="text-warning box-title">Front module</h3>
            </div>
            <div class="box-footer text-center">
                <a href="front" class="btn-warning btn">Show it</a>
            </div>
        </div>
    </div>
</div>