<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
  <span class="text-danger icon fab fa-wpforms"></span>
  Provision of services through electronic request forms
</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-success mb-0">Studio module</h5>
      </div>
      <div class="card-footer text-center">
        <a href="studio" class="btn-success btn">Create it</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-primary mb-0">Office module</h5>
      </div>
      <div class="card-footer text-center">
        <a href="office" class="btn-primary btn">Operate it</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-dark mb-0">Administration module</h5>
      </div>
      <div class="card-footer text-center">
        <a href="admin" class="btn-dark btn">Control it</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="text-danger mb-0">Front module</h5>
      </div>
      <div class="card-footer text-center">
        <a href="front" class="btn-danger btn">Show it</a>
      </div>
    </div>
  </div>
</div>