<!-- ru/_part/signboard -->
<div class="signboard alert-warning alert">
    Модуль демонстрирует доступ к функционалу и данным приложения через AJAX-запросы
    для создания индивидуальных веб-интерфейсов.
</div>