
<div class="page" data-page="main" data-handler="MainPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li data-t="">Main</li>
        </ol>
        <%- include('./_user') %>
    </div>

    <h1 data-t="">Public services</h1>

    <form class="search-form" data-handler="MainSearch">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>

    <div class="service-list loadable-container" data-handler="MainServiceList">

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>

        <template data-id="list">
            <div class="row">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="col-sm-6 col-lg-3">
                <div class="service-card" data-id="{{_id}}">
                    <a href="#" data-action="service">
                        <img data-src="<%- _url('/api/base/file/download') %>?v=.icon&id={{icon}}"
                             class="thumbnail img-responsive" alt="{{name}}">
                    </a>
                    <h3><a href="#" data-action="service" data-t="meta.class.service">{{name}}</a></h3>
                </div>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>
    </div>
</div>