<template id="model-form-file">
    <div :class="{'has-error': error, 'required': required, 'form-attr form-group row': true}">
        <label class="col-md-3 col-form-label">
            <span :data-t="translationCategory" class="col-form-label-text">{{label}}</span>
            <i v-if="extHint" class="hint-icon" :title="extHint" :data-t="translationCategory"></i>
        </label>
        <div class="col-md-9">
            <template v-if="readOnly">
                <div class="form-control-plaintext">
                    <div class="file-items">
                        <div v-for="item of value" class="file-item">
                            <div class="file-item-name">{{item.name}}</div>
                            <div class="file-item-link">
                                <a :href="item.url" target="_blank"><span data-t="">Download</span></a>
                                <small>({{item.size}})</small>
                            </div>
                            <div class="file-item-description">{{item.description}}</div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="file-uploader">
                    <input v-model="value" type="hidden">
                    <div class="file-uploader-commands">
                        <button @click="onAdd" class="btn-outline-success btn" type="button">
                            <span data-t="">Add file</span>
                        </button>
                    </div>
                    <model-form-file-item
                            v-for="item of items"
                            :key="item.key"
                            ref="item"
                            :meta-class="refClass"
                            @remove="onRemove(item)">
                    </model-form-file-item>
                </div>
                <div class="error-block"></div>
            </template>
            <div class="error-block">{{error}}</div>
            <div class="hint-block" :data-t="translationCategory">{{hint}}</div>
        </div>
    </div>
</template>