<template id="model-form-file-item">
    <div :class="{'has-error': error,'file-uploader-item form-group': true}">
        <input @change="onChange" type="file" class="form-control-file">
        <div class="hint-block">{{hint}}</div>
        <div class="error-block">{{error}}</div>
        <button @click="onRemove" class="btn-danger btn-sm btn" type="button">
            <i class="fas fa-times"></i>
        </button>
    </div>
</template>