<% layout(_view.get('_layout/content')) %>

<h2 class="intro-header">
    <span class="text-red icon fa fa-sun"></span>
    Придумайте идею, а затем...
</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="text-success box-title">Модуль Студия</h3>
            </div>
            <div class="box-footer text-center">
                <a href="studio" class="btn-success btn">Создайте приложение</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="text-primary box-title">Модуль Офис</h3>
            </div>
            <div class="box-footer text-center">
                <a href="office" class="btn-primary btn">Наполняйте приложение</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="text-info box-title">Модуль Администрирование</h3>
            </div>
            <div class="box-footer text-center">
                <a href="admin" class="btn-info btn">Управляйте приложением</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="text-warning box-title">Модуль Фронт</h3>
            </div>
            <div class="box-footer text-center">
                <a href="front" class="btn-warning btn">Покажите приложение</a>
            </div>
        </div>
    </div>
</div>